.menu .ant-menu-horizontal{
	background: black;
	text-align: center;
}
.menu .ant-menu-horizontal img{
	height: 45px;
}
 .menu .ant-menu-horizontal .ant-menu-item {
 	color: white;
 	/*width: 70px;*/
 	height: 72px;
 	padding-top: 19px;
 }
 /*.ant-menu-item :hover {
 	background: white;
 	color: black;
 }*/
 .menu .user {
 	float: right;
 	margin-top: -50px;
 }
 .menu .ant-btn{
 	margin-right: 25px;
 }
 .menu .ant-dropdown-trigger{
 	float: right;
 	margin-top: -50px;
 }
 .menu .ant-menu-horizontal .ant-menu-item:hover {
 	background: blue;
 	color: black;
 }
 .menu .ant-menu-horizontal > .ant-menu-item > a{
 	    color: white;
 }
 .menu .car{
 	float: right;
 	margin-top: -50px;
 	margin-right: 200px;
 }