.todo {
	width: 60%;
	margin: auto;
}
.todo .todoHeader {
	height: 50px;
	border: 1px solid #aaa; 
}
.todo .todoHeader input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 10px 0 70px;
	box-sizing: border-box;
	outline: none;
	font-size: 18px;
}

.todo .todoHeader label {
	position: absolute;
	height: 50px;
	width: 50px;
	font-size: 30px;
	box-sizing: border-box;
	border: 1px solid #eee;
	background-color: #eee;
	cursor: pointer;
}

.todo .todoBody {
	width: 100%;
	text-align: left;
	border: 1px solid #aaa;
	box-sizing: border-box;
	border-top: none;
}
.todo .todoBody .todoItem {
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-bottom: 1px solid #eee;
}
.todo .todoBody .todoItem input.checkbox{
	width: 50px;
	font-size: 30px;
}
.todo .todoBody .todoItem input.edit{
	width: 80%;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	outline: none;
	box-sizing: border-box;
}
.todo .todoBody .todoItem span {
	height: 50px;
}

.todo .todoBody .todoItem i {
	position: absolute;
	right: 20px;
	font-size: 30px;
	cursor: pointer;
	color: #919191;
	display: none;
}

.todo .todoBody .todoItem:hover i {
	display: inline-block;
}




